result
result_fig
models/tmp
tracking/tmp
modules/*.pyc
pretrain/*.pyc
tracking/*.pyc
models/imagenet-vgg-m.mat
models/*.pth
pretrain/runs
/**/__pycache__/
/**/*.pyc
pretrain/__pycache__/
/**/*.xml
*.pth
pretrain/seq_regions
